<!-- <div class="banner" style="text-align:center">
  <div class="inline">
        <h1>
            Welcome {{profile.firstName}} {{profile.lastName}}!
        </h1>
    </div>
    <div class="inline">
        <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button>
    </div>

    <div class="flex-container">
    <div class="box">
        <h2>You're logged in</h2>
        <div class="box-content">
            <label>Username</label>
            <span>{{profile.userName}}</span>

            <label>Email - </label>
            <span>{{profile.email}}</span>

            <label>Full Name - </label>
            <span>{{profile.firstName}} {{profile.lastName}}</span>
        </div>
    </div>
    </div>-->
    <!-- <div class="row ">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
                <div class="card mb-3  ">
                    <h3 class="card-header">
                            Welcome {{profile.firstName}} {{profile.lastName}}!
                        </h3>
                    <div class="card-body">
                    <h5 class="card-title">You're logged in</h5>

                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">

                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                                    <label>Username - </label>
                                    <span> {{profile.userName}}</span>
                                </li>
                    <li class="list-group-item">
                                    <label>Email - </label>
                                    <span> {{profile.email}}</span>
                        </li>
                    <li class="list-group-item">
                                    <label>Full Name - </label>
                                    <span> {{profile.firstName}} {{profile.lastName}}</span>
                    </li>
                    </ul>
                    <div class="card-body">
                            <a *ngIf="Role()"  href="/home/admin" class="card-link">Manager</a>
                           <a href="/home/cabinet" (click)="logout()" class="card-link">Logout</a>
                         <button type="button" class="btn-red pull-right">Admin</button>
                    <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
            </div>
</div> 

</div> -->

  <!-- <div class="box" *ngIf="isManager()">
        <h2>Manager only</h2>
        <div class="box-content">
            <button type="button" class="btn-blue" (click)="getContracts()">Call backend service</button>

            <div *ngIf="contracts">
                <ul *ngFor="let contract of contracts">
                    <li>
                        {{contract.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box" *ngIf="isAdmin()">
        <h2>Admin only</h2>
        <div class="box-content">
            <button type="button" class="btn-blue" (click)="getContracts()">Call backend service</button>

            <div *ngIf="contracts">
                <ul *ngFor="let contract of contracts">
                    <li>
                        {{contract.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>-->    
      <style>
    .my-drop-zone {   border: 4px dashed white;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 50px;
      text-align: center;
      font: 21pt bold arial;

      color: white; }
    .nv-file-over { border: dotted 5px green; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
        .up{
            color:white; /* Цвет символа */
    font-size: 120%
        }
    html, body { height: 100%; }
</style>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ваши данные
            </mat-panel-title>
            <mat-panel-description>
              Нажмите чтобы {{panelOpenState ? 'скрыть' : 'увидеть или редактировать'}}
              
            </mat-panel-description><mat-icon style="margin-right: 5px;">account_circle</mat-icon>
          </mat-expansion-panel-header>
          <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
          <div class="col-4"></div>
            <div class="col-4">
          <p>
          <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input matInput [(ngModel)]="this.profile.userName" [disabled]="this.flag">
          </mat-form-field>
            </p>
            <p>
          <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput [(ngModel)]="this.profile.firstName" [disabled]="this.flag">
          </mat-form-field>
        </p>
          <p>
          <mat-form-field>
            <mat-label>Фамилия</mat-label>
            <input matInput [(ngModel)]="this.profile.lastName" [disabled]="this.flag">
          </mat-form-field>
        </p>
        <p>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com" [(ngModel)]="this.profile.email">
         
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
               Введите правильный адрес почты
            </mat-error>
    
            </mat-form-field>
        </p>
        <p *ngIf="this.flag">
          <button mat-button color="primary" (click)="isEdit()">Редактировать</button>
        </p>
        <p *ngIf="!this.flag">
          <button mat-button color="primary" (click)="edit()" (click)="isEdit()">Сохранить</button>
        </p>
          </div>
          <div class="col-4">
            <p>
              <app-upload-files [flag2]="flag" (myfileInfos)="change($event)"></app-upload-files>
            </p>
            <!-- <div>
              <img src="{{this.profile.picture}}" style="max-height: auto; max-width: auto;">
            </div>  -->
            <img src="{{this.profile.picture}}" class="img-fluid" >
          </div>
          </div>
          </div>
        
          <!-- <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field> -->

        </mat-expansion-panel>
       
        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Заказы
            </mat-panel-title>
            <mat-panel-description>
              Нажмите , для просмотра
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      -->
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" >
        <mat-expansion-panel-header>
            <mat-panel-title>
              Заказы
            </mat-panel-title>
            <mat-panel-description> 
             
              Нажмите чтобы {{panelOpenState ? 'скрыть заказы' : 'посмотреть заказы'}}
              <!-- <mat-expansion-panel *ngFor="let item of this.profile.orders" (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Заказ
                  </mat-panel-title>
                  <mat-panel-description>
                    {{item.orderDate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel> -->

            </mat-panel-description><mat-icon style="margin-right: 5px;">reorder</mat-icon>
          
          </mat-expansion-panel-header>
        
          <mat-expansion-panel *ngFor="let item of this.profile.orders" (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Заказ № {{item.id}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{item.orderDate}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="card mb-12" style="margin-bottom: 10px; padding: 10px;" *ngFor="let item1 of item.productCounts">
                  <div class="row no-gutters">
            
                    <div class="col-md-2">
                      <img src="{{item1.product.short_image}}" style="max-height: 150px; max-width: 100px;">
                    </div>
            
                    <div class="col-md-8" style="padding-left: 10px;">
                      <h5>{{item1.product.name}}</h5>
                      <p>{{item1.product.short_description}}</p>
                      <h6>Колчество товара  {{item1.count}}</h6>

                     <p> <span class="badge badge-success">{{item1.product.shop}}</span></p>
                    </div>
                    <div class="col-md-2">
                      <h5>{{item1.product.price}} &#8381;</h5>
                    </div>
                  </div>
                </div>
                <h4>Общая цена заказа {{item.price}} &#8381;</h4>
        
              </mat-expansion-panel>

        </mat-expansion-panel>
        
    <!-- </mat-expansion-panel-header>
  </mat-expansion-panel> -->
      </mat-accordion>
      
      <!-- <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <div *ngFor="let item of this.profile.orders">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Заказ
          </mat-panel-title>
          <mat-panel-description>
            {{item.orderDate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
  </mat-expansion-panel-header>
</mat-expansion-panel> -->